:host .card {
  padding: 2.25rem;
  inline-size: 38.375rem;
  background: var(--bg-primary);
  border: 0.0625rem solid var(--bg-primary-hover);
  box-shadow: 0rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.11);
  border-radius: 0.625rem;
  margin: auto;
  display: grid;
  grid-template-rows: 18.75rem 10.375rem;
  transform: translateY(0.3125rem);
  animation: reveal-individual-card 0.5s ease-out forwards;

  @keyframes reveal-individual-card {
    0% {
      transform: translateY(0.3125rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  .card-img {
    border-radius: 6.25rem;
    background: var(--bg-secondary);
    margin: auto;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-primary);
  }

  .card-title {
    font: var(--font-2);
    color: inherit;
    text-align: center;
  }

  .card-subtitle {
    font: var(--font-4);
    color: inherit;
    word-spacing: 1.25rem;
  }
}
