.pagination {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;

  ::ng-deep {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }

    li {
      padding: 0.625rem;
      block-size: 2rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        block-size: 1.75rem;
        inline-size: 1.75rem;
        border-radius: 50%;
        z-index: -1;
      }

      &.disabled {
        cursor: default;
      }

      &:not(.disabled) {
        &:hover::before {
          background: var(--bg-primary);
        }

        &.active {
          color: var(--text-accent);
          font-weight: bold;

          &::before {
            background: var(--bg-secondary);
          }
        }
      }

      &:focus-visible {
        outline: none;

        &::before {
          outline: 0.125rem solid var(--text-accent);
          outline-offset: 0.125rem;
        }
      }
    }

    /* (Progressive enhancement)
      hide .table-pagination if it has only a single child (page 1).
    */
    &:has(li:only-child) {
      display: none;
    }

    button {
      --_button-font-size: 1.25rem;

      cursor: pointer;
      border: 1px solid var(--bg-primary-variant);
      border-radius: 0.25rem;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
      background-color: var(--bg-primary);
      color: var(--text-primary);
      transition: background-color calc(0.3 * var(--base-duration));
      display: flex;
      align-items: baseline;
      justify-content: center;
      font: var(--font-xl);
      inline-size: 2.25rem;
      block-size: 2.25rem;
      font-size: var(--_button-font-size);
      line-height: 2.25rem;
      padding: 0;

      &:hover:not([hidden]) {
        background: var(--bg-primary-variant);
        color: var(--text-accent);
        transition: all calc(0 * var(--base-duration));
      }

      &:active:not([hidden]) {
        transform: translateY(0.0625rem);
        box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
      }

      &[hidden] {
        display: none;
      }
    }
  }
}
