<ui-tabular-list class="episodes__list" no-hover>
  <tbody *ngIf="episodesCall?.results">
    <tr *ngFor="let e of episodesCall.results" tabindex="0">
      <td class="cell--grow">{{ e.name }}</td>
      <td class="cell--shrink">{{ e.episode }}</td>
    </tr>
  </tbody>

  <ui-pagination
    class="episodes__pagination"
    *ngIf="pages"
    [currentPage]="currentPage"
    [totalPages]="episodesCall.info.pages"
    [pages]="pages"
    (pageChange)="getEpisodes($event)"
  ></ui-pagination>
</ui-tabular-list>
