:host {
  ui-tabular-list {
    transform: translateY(2.625rem);
    animation: hide-header 0.125s ease-out forwards;
  }

  @keyframes hide-header {
    to {
      transform: translateY(0);
    }
  }
}
