:host {
  ui-tabular-list {
    transform: translateY(4.2rem);
    animation: hide-header calc(0.125 * var(--base-duration)) ease-out forwards;
  }

  @keyframes hide-header {
    to {
      transform: translateY(0);
    }
  }
}
