<ui-tabular-list no-hover>
  <tbody *ngIf="episodesCall?.results">
    <tr *ngFor="let e of episodesCall.results" tabindex="0">
      <td class="cell-grow">{{ e.name }}</td>
      <td class="cell-shrink">{{ e.episode }}</td>
    </tr>
  </tbody>

  <ng-container *ngIf="pages">
    <li
      *ngFor="let p of pages"
      [ngClass]="{ active: p === currentPage }"
      [aria-pressed]="p === currentPage ? 'true' : 'false'"
      (click)="getEpisodes(p)"
      (keydown.enter)="getEpisodes(p)"
      role="button"
      tabindex="0"
    >
      {{ p }}
    </li>
  </ng-container>
</ui-tabular-list>
