:host {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-rows: 1fr;
  grid-template-columns: min(62.625rem, calc(100vi - 2rem));
  margin-inline: -1rem;

  .characters {
    display: flex;
    flex-direction: column;

    header {
      display: grid;
      grid-template-columns: 1fr 13.25rem;
      grid-template-rows: 2.75rem;
      align-items: center;
      gap: 1.5rem;
      margin-block-end: 2.5rem;
    }

    input,
    button {
      font: var(--font-base);
      block-size: 2.75rem;
      border-radius: 0.375rem;
      border: none;
    }

    input {
      padding-block: 0.8125rem;
      padding-inline: 1.0625rem;

      :root[vertical] & {
        position: absolute;
        inset-block-start: -2.75rem;
        inset-inline-start: 0;
        transform-origin: 0% 100%;
        rotate: 90deg;
        width: calc(100dvh - 13.25rem - 1.5rem - 2rem);
      }
    }

    button {
      inline-size: 100%;

      :root[vertical] & {
        position: absolute;
        height: 13.25rem;
        inset-block-end: 0;
        inset-inline-end: 0;
      }

      svg {
        block-size: 1.5rem;
        inline-size: 1.5rem;
        margin: auto;
      }
    }

    ui-tabular-list {
      transform: translateY(-1.375rem);
      animation: reveal-header calc(0.125 * var(--base-duration)) ease-out
        forwards;
    }

    @keyframes reveal-header {
      to {
        transform: translateY(0);
      }
    }

    .characters-filter {
      opacity: 0;
      animation: characters-filter-reveal calc(0.25 * var(--base-duration))
        ease-out forwards calc(0.125 * var(--base-duration));
    }

    @keyframes characters-filter-reveal {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  /* (Progressive enhancement)
    .characters-filter fade out effect 
  */

  :root:not([reduced-motion])
    .navigation-tabs:has(li:not(:first-child) a:active)
    ~ &
    .characters-filter {
    animation: characters-filter-hide calc(0.125 * var(--base-duration))
      ease-out forwards !important;

    @keyframes characters-filter-hide {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .characters-filter {
      animation: none !important;
    }
  }

  @media (max-width: 30rem) {
    & .characters .characters-filter {
      gap: 0;
      grid-template-columns: 1fr 2.75rem;

      input {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
      }

      button {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
        inline-size: 2.75rem;
        block-size: 2.75rem;
      }
    }
  }

  @media (max-height: 30rem) {
    :root[vertical] & .characters .characters-filter {
      gap: 0 !important;
      grid-template-columns: 1fr 2.75rem !important;

      input {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
        width: calc(100dvh - 2.75rem - 2rem) !important;
      }

      button {
        border-start-start-radius: 0;
        border-start-end-radius: 0;
        height: 2.75rem !important;
      }
    }
  }
}
