:host {
  display: grid;
  grid-gap: 4rem;
  grid-template-rows: 1fr;
  grid-template-columns: min(100.2rem, calc(100vi - 3.2rem));
  margin-inline: -1.6rem;

  .characters {
    display: flex;
    flex-direction: column;

    .characters__filter {
      display: grid;
      grid-template-columns: 1fr 21.2rem;
      grid-template-rows: 4.4rem;
      align-items: center;
      gap: 2.4rem;
      margin-block-end: 4rem;
    }

    .characters__filter-input,
    .characters__filter-submit {
      font: var(--font-base);
      block-size: 4.4rem;
      border-radius: 0.6rem;
      border: none;
    }

    .characters__filter-input {
      padding-block: 1.3rem;
      padding-inline: 1.7rem;

      :root[vertical] & {
        position: absolute;
        inset-block-start: -4.4rem;
        inset-inline-start: 0;
        transform-origin: 0% 100%;
        rotate: 90deg;
        width: calc(100dvh - 21.2rem - 2.4rem - 3.2rem);
      }
    }

    .characters__filter-submit {
      inline-size: 100%;

      :root[vertical] & {
        position: absolute;
        height: 21.2rem;
        inset-block-end: 0;
        inset-inline-end: 0;
      }

      svg {
        block-size: 2.4rem;
        inline-size: 2.4rem;
        margin: auto;
      }
    }

    ui-tabular-list {
      transform: translateY(-2.2rem);
      animation: reveal-header calc(0.125 * var(--base-duration)) ease-out
        forwards;
    }

    @keyframes reveal-header {
      to {
        transform: translateY(0);
      }
    }

    .characters__filter {
      opacity: 0;
      animation: characters__filter--reveal calc(0.25 * var(--base-duration))
        ease-out forwards calc(0.125 * var(--base-duration));
    }

    @keyframes characters__filter--reveal {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  /* (Progressive enhancement)
    .characters__filter fade out effect 
  */

  :root:not([reduced-motion])
    .navigation-tabs:has(li:not(:first-child) a:active)
    ~ &
    .characters__filter {
    animation: characters__filter--hide calc(0.125 * var(--base-duration))
      ease-out forwards !important;

    @keyframes characters__filter--hide {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .characters__filter {
      animation: none !important;
    }
  }

  @media (max-width: 48rem) {
    & .characters .characters__filter {
      gap: 0;
      grid-template-columns: 1fr 4.4rem;

      .characters__filter-input {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
      }

      .characters__filter-submit {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
        inline-size: 4.4rem;
        block-size: 4.4rem;
      }
    }
  }

  @media (max-height: 48rem) {
    :root[vertical] & .characters .characters__filter {
      gap: 0 !important;
      grid-template-columns: 1fr 4.4rem !important;

      .characters__filter-input {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
        width: calc(100dvh - 4.4rem - 3.2rem) !important;
      }

      .characters__filter-submit {
        border-start-start-radius: 0;
        border-start-end-radius: 0;
        height: 4.4rem !important;
      }
    }
  }
}
