:host {
  position: absolute;
  inline-size: 48.375rem;
  block-size: 6rem;
  top: -1.3125rem;
  left: -4.9375rem;

  svg {
    transform-origin: 50% 50%;
    transform: translateZ(0) scaleY(1.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  [vertical] & svg {
    visibility: hidden;
  }
}
