:host {
  display: grid;
  grid-template-rows: var(--main-header-block-size) 1fr;
  min-block-size: 100vh;
  min-block-size: 100dvb;

  header {
    block-size: var(--main-header-block-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-hero);
    overflow: hidden;
    animation: hero-background-fade-in 0.75s cubic-bezier(0.53, 1.02, 0.41, 1)
      forwards;

    @keyframes hero-background-fade-in {
      0% {
        background-color: var(--bg-hero);
      }
      100% {
        background-color: var(--bg-secondary);
      }
    }

    &::before {
      content: "";
      position: absolute;
      inline-size: var(--main-header-block-size);
      block-size: 100%;
      background: url("../assets/images/hero.svg") center 0.8125rem no-repeat;
      background-size: 100%;
      transform-origin: 33.3% 33.3%;
      transform: scale(10);
      color: var(--bg-hero);
      animation: hero-image-scale-down 0.75s cubic-bezier(0.53, 1.02, 0.41, 1)
        forwards;
    }

    [vertical] &::before {
      background: url("../assets/images/hero-vertical.svg") -0.8125rem center no-repeat;
    }

    @keyframes hero-image-scale-down {
      0% {
        transform: scale(10);
      }
      100% {
        transform: scale(1);
      }
    }

    cursor: pointer;
  }

  :hover h1 {
    transform: translateY(-0.125rem);
  }

  :active h1 {
    transform: translateY(0) scale(0.99);
  }

  h1 {
    font: var(--font-1);
    transform-origin: 50% 50%;
    transition: all 0.25s cubic-bezier(0.32, 0.29, 0.27, 0.99);
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      color: var(--bg-hero);
      opacity: 0;
      transform: scale(1, 8) translateY(100%);
      animation: hero-title-slide-up 0.375s cubic-bezier(0.53, 1.02, 0.41, 0.95)
        forwards 0.125s;
    }

    span + span {
      margin-inline-start: 0.25em;
    }

    span:nth-child(2) {
      animation-delay: 0.25s;
    }

    span:nth-child(3) {
      animation-delay: 0.325s;
    }

    span:nth-child(4) {
      animation-delay: 0.375s;
    }

    @keyframes hero-title-slide-up {
      0% {
        color: var(--bg-hero);
        opacity: 0;
        transform: scale(1, 8) translateY(100%);
      }
      100% {
        color: var(--text-secondary);
        opacity: 1;
        transform: scale(1, 1) translateY(0);
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    block-size: 100%;
    background: var(--backdrop);
    padding-block: 3.5rem;
    padding-inline: 1rem;
    block-size: 100%;
  }

  nav {
    block-size: 2rem;
    margin-block-end: min(10vi, 4.5rem);

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      font-weight: 400;
      block-size: 1.875rem;
      margin: 0;
      padding: 0;
    }

    li + li {
      margin-inline-start: min(10vi, 2.8125rem);
    }

    a {
      color: var(--text-primary-muted);
      text-decoration: none;
      font: var(--font-3);

      &.active {
        color: var(--text-primary);
      }
    }
  }
}

@media (max-width: 50rem) {
  :host {
    --main-header-block-size: 32.5vi;
  }
}
