<header (click)="onClick()">
  <h1 tabindex="0" aria-label="The Rick and Morty">
    <span tabindex="-1">The</span> <span tabindex="-1">Rick</span>
    <span tabindex="-1">and</span> <span tabindex="-1">Morty</span>
    <ui-electric-pulse class="media-lg"></ui-electric-pulse>
  </h1>
</header>

<main>
  <nav class="navigation-tabs">
    <ul>
      <li>
        <a
          routerLink="/characters"
          [queryParams]="{
            fromPage: characterPage,
            nameSearch: characterNameSearch
          }"
          [class.active]="isActiveRoute('/character')"
          >Characters</a
        >
      </li>
      <li>
        <a routerLink="/episodes" [class.active]="isActiveRoute('/episodes')"
          >Episode Guide</a
        >
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
  <ui-controls></ui-controls>
</main>
