<header (click)="onClick()">
  <h1>
    <span>The</span> <span>Rick</span> <span>and</span> <span>Morty</span>
    <ui-electricity></ui-electricity>
  </h1>
</header>

<main>
  <nav class="navigation-tabs">
    <ul>
      <li>
        <a
          routerLink="/characters"
          [queryParams]="{
            fromPage: characterPage,
            nameSearch: characterNameSearch
          }"
          class="nav-link"
          routerLinkActive="active"
          >Characters</a
        >
      </li>
      <li>
        <a routerLink="/episodes" class="nav-link" routerLinkActive="active"
          >Episode Guide</a
        >
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</main>
