<header>
  <h1>
    <span>The</span> <span>Rick</span> <span>and</span> <span>Morty</span>
    <cu-mini-project-electricity></cu-mini-project-electricity>
  </h1>
</header>

<main>
  <nav>
    <li>
      <a
        routerLink="/characters"
        [queryParams]="{
          fromPage: characterPage,
          nameSearch: characterNameSearch
        }"
        class="nav-link"
        >Characters</a
      >
    </li>
    <li>
      <a routerLink="/episodes" class="nav-link">Episode Guide</a>
    </li>
  </nav>

  <router-outlet></router-outlet>
  <div style="display: none">
    <ul
      style="
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        list-style: none;
      "
    >
      <li style="font: var(--font-1); background: yellow">
        Apple, APPLE, cake, font 1
      </li>
      <li style="font: var(--font-2); background: yellow">
        Apple, APPLE, cake, font 2
      </li>
      <li style="font: var(--font-3); background: yellow">
        Apple, APPLE, cake, font 3
      </li>
      <li style="font: var(--font-4); background: yellow">
        Apple, APPLE, cake, font 4
      </li>
      <li style="font: var(--font-5); background: yellow">
        Apple, APPLE, cake, font 5
      </li>
      <li style="font: var(--font-5b); background: yellow">
        Apple, APPLE, cake, font 5b
      </li>
      <li style="font: var(--font-5c); background: yellow">
        Apple, APPLE, cake, font 5c
      </li>
      <li style="font: var(--font-6); background: yellow">
        Apple, APPLE, cake, font 6
      </li>
      <li style="font: var(--font-7); background: yellow">
        Apple, APPLE, cake, font 7
      </li>
      <li style="font: var(--font-8); background: yellow">
        Apple, APPLE, cake, font 8
      </li>
      <li style="font: var(--font-9); background: yellow">
        Apple, APPLE, cake, font 9
      </li>
      <li style="font: var(--font-10); background: yellow">
        Apple, APPLE, cake, font 10
      </li>
      <li style="font: var(--font-11); background: yellow">
        Apple, APPLE, cake, font 11
      </li>
    </ul>
  </div>
</main>
