:host {
  display: grid;
  grid-template-rows: var(--main-header-block-size) 1fr;
  min-block-size: 100vh;
  min-block-size: 100dvb;

  opacity: 0;
  animation: body-fade-in var(--app-reveal-duration) ease-in forwards
    var(--app-reveal-delay) !important;

  @keyframes body-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  header {
    block-size: var(--main-header-block-size);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--bg-hero);
    overflow: hidden;
    animation: hero-background-fade-in calc(0.75 * var(--base-duration))
      cubic-bezier(0.53, 1.02, 0.41, 1) forwards var(--wait-for-app-reveal);

    @keyframes hero-background-fade-in {
      0% {
        background-color: var(--bg-hero);
      }
      100% {
        background-color: var(--bg-secondary);
      }
    }

    &::before,
    body[dark-mode] &::before {
      content: "";
      position: absolute;
      inline-size: var(--main-header-block-size);
      block-size: 100%;
      background: url("../assets/images/hero.svg") center 0.8125rem no-repeat;
      background-size: 100%;
      transform-origin: 33.3% 33.3%;
      transform: scale(10);
      color: var(--bg-hero);
      animation: hero-image-scale-down calc(0.75 * var(--base-duration))
        cubic-bezier(0.53, 1.02, 0.41, 1) forwards var(--wait-for-app-reveal);
    }

    body[vertical] &::before,
    body[vertical][dark-mode] &::before {
      background: url("../assets/images/hero-vertical.svg") -0.8125rem center no-repeat;
      background-size: 100%;
    }

    @keyframes hero-image-scale-down {
      0% {
        transform: scale(10);
      }
      100% {
        transform: scale(1);
      }
    }

    @media (prefers-color-scheme: light) {
      &::before {
        background: url("../assets/images/hero-invert-colors.svg") center
          0.8125rem no-repeat;
        background-size: 100%;
      }

      body[vertical] &::before {
        background: url("../assets/images/hero-vertical-invert-colors.svg") -0.8125rem
          center no-repeat;
        background-size: 100%;
      }
    }

    body[light-mode] &::before {
      background: url("../assets/images/hero-invert-colors.svg") center
        0.8125rem no-repeat;
      background-size: 100%;
    }

    body[vertical][light-mode] &::before {
      background: url("../assets/images/hero-vertical-invert-colors.svg") -0.8125rem
        center no-repeat;
      background-size: 100%;
    }
  }

  :hover h1 {
    transform: translateY(-0.125rem);
  }

  :active h1 {
    transform: translateY(0) scale(0.99);
  }

  h1 {
    font: var(--font-xxl);
    transform-origin: 50% 50%;
    transition: all calc(0.25 * var(--base-duration))
      cubic-bezier(0.32, 0.29, 0.27, 0.99);
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      color: var(--bg-hero);
      opacity: 0;
      transform: scale(1, 8) translateY(100%);

      &,
      body[dark-mode] & {
        animation: hero-title-slide-up--dark calc(0.375 * var(--base-duration))
          cubic-bezier(0.53, 1.02, 0.41, 0.95) forwards
          calc(0.125 * var(--base-duration) + var(--wait-for-app-reveal));
      }

      @media (prefers-color-scheme: light) {
        animation: hero-title-slide-up--light calc(0.375 * var(--base-duration))
          cubic-bezier(0.53, 1.02, 0.41, 0.95) forwards
          calc(0.125 * var(--base-duration) + var(--wait-for-app-reveal));
      }

      body[light-mode] & {
        animation: hero-title-slide-up--light calc(0.375 * var(--base-duration))
          cubic-bezier(0.53, 1.02, 0.41, 0.95) forwards
          calc(0.125 * var(--base-duration) + var(--wait-for-app-reveal));
      }
    }

    span + span {
      margin-inline-start: 0.25em;
    }

    span:nth-child(2) {
      animation-delay: calc(
        0.25 * var(--base-duration) + var(--wait-for-app-reveal)
      );
    }

    span:nth-child(3) {
      animation-delay: calc(
        0.325 * var(--base-duration) + var(--wait-for-app-reveal)
      );
    }

    span:nth-child(4) {
      animation-delay: calc(
        0.375 * var(--base-duration) + var(--wait-for-app-reveal)
      );
    }

    @keyframes hero-title-slide-up--dark {
      0% {
        color: var(--bg-hero);
        opacity: 0;
        transform: scale(1, 8) translateY(100%);
      }
      100% {
        color: var(--text-secondary);
        opacity: 1;
        transform: scale(1, 1) translateY(0);
      }
    }

    @keyframes hero-title-slide-up--light {
      0% {
        color: var(--bg-hero);
        opacity: 0;
        transform: scale(1, 8) translateY(100%);
      }
      100% {
        color: var(--text-primary);
        opacity: 1;
        transform: scale(1, 1) translateY(0);
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    block-size: 100%;
    background: var(--backdrop);
    padding-block: 3.5rem;
    padding-inline: 1rem;
    block-size: 100%;
  }

  nav {
    block-size: 2rem;
    margin-block-end: min(10vi, 4.5rem);

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      block-size: 1.875rem;
      margin: 0;
      padding: 0;
    }

    li + li {
      margin-inline-start: min(10vi, 2.8125rem);
    }

    a {
      color: var(--text-primary-muted);
      text-decoration: none;
      font: var(--font-lg);

      &.active {
        color: var(--text-primary);
      }
    }
  }
}

@media (max-width: 50rem) {
  :host {
    --main-header-block-size: 32.5vi;
  }
}
