:host {
  display: grid;
  grid-gap: 2.6rem;
  grid-template-rows: auto 3.8rem;
  grid-template-columns: min(100.2rem, calc(100vi - 3.2rem));
  font: var(--font-sm);
  color: var(--text-primary);
}

.tabular-list__scroll-area {
  max-inline-size: 100dvi;
  margin-inline: -1.6rem;
  padding-inline: 1.6rem;
  padding-block: 0.1rem;
  inline-size: auto;
  overflow-x: auto;
}

.tabular-list__table {
  --tabular-list-radius: 0.3rem;
  background: transparent;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  inline-size: 100%;

  &:empty {
    background: var(--bg-primary);
    padding-block-start: 100%;
    margin-inline: 0;
    border-radius: var(--tabular-list-radius);
    inline-size: 100%;
  }
}

::ng-deep {
  thead,
  tbody,
  tfoot {
    background: inherit;
    inline-size: 100%;
    min-inline-size: fit-content;
    padding-inline: 1.6rem;
    padding-block: 0.1rem;
  }

  tr {
    border-radius: 0.3rem;
    transition: all calc(0.2 * var(--base-duration))
      cubic-bezier(0.31, 0.95, 0.35, 1);
    background: var(--bg-primary);

    &:focus-visible {
      outline: 0.2rem solid var(--text-accent);
      z-index: 5;
    }

    &::before {
      content: "";
      position: absolute;
      border-radius: inherit;
      block-size: 100%;
      inline-size: 100%;
      --tr-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.11),
        0 0 0 0.1rem var(--bg-primary-variant);
      box-shadow: var(--tr-shadow);
    }
  }

  tr + tr {
    margin-block-start: 0.1rem;
  }

  th,
  td {
    min-block-size: 3.8rem;
    padding-block: 0.8rem;
    padding-inline: 1.6rem;
    border: none;
    min-inline-size: 14.625rem;
    font: var(--font-base);
    line-height: 2rem;
    white-space: nowrap;

    &:first-child {
      border-radius: var(--tabular-list-radius) 0 0 var(--tabular-list-radius);
    }

    &:last-child {
      border-radius: 0 var(--tabular-list-radius) var(--tabular-list-radius) 0;
    }
  }

  .cell--grow {
    inline-size: 100%;
  }

  .cell--shrink {
    min-inline-size: auto;
  }
}

:host:not([no-hover]) ::ng-deep {
  tr {
    cursor: pointer;

    &:hover {
      background: var(--bg-primary-variant);
      color: var(--text-accent);
      transition: all calc(0 * var(--base-duration));
    }

    &:active {
      transform: translateY(0.1rem);
    }
  }

  tr + tr {
    &:active {
      transform: translateY(0.1rem);
      border-block-start: transparent;
      box-shadow: 0 -0.1rem 0 var(--backdrop), var(--tr-shadow),
        inset 0 0.2rem 0.4rem -0.2rem var(--backdrop);
    }
  }
}
