:host {
  --_ui-controls-button-size: 8rem;
  --_ui-controls-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 0.2rem 0.2rem hsl(0deg 0% 0% / 0.075),
    0 0.4rem 0.4rem hsl(0deg 0% 0% / 0.075),
    0 0.8rem 0.8rem hsl(0deg 0% 0% / 0.075),
    0 1.6rem 1.6rem hsl(0deg 0% 0% / 0.075);

  position: fixed;
  inset-block-end: 0;
  inset-inline-end: 0;
  block-size: var(--_ui-controls-button-size);
  inline-size: var(--_ui-controls-button-size);
  border-start-start-radius: 50%;
  box-shadow: var(--_ui-controls-shadow);

  .ui-controls {
    --_ui-controls__font-size: 8vmin;

    position: absolute;
    block-size: 100%;
    inline-size: 100%;
    border: none;
    border-radius: inherit;
    padding: 0;
    font-size: var(--_ui-controls__font-size);
    line-height: 1em;
    transform-origin: 50% 50%;

    .ui-controls-icon {
      position: absolute;
      inset-block-end: 1.8rem;
      inset-inline-end: 1.8rem;
      block-size: 4rem;
      inline-size: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      rotate: 0;
      transition: all calc(0.25 * var(--base-duration)) ease-out;

      &.open {
        rotate: 45deg;
      }
    }
  }

  .ui-controls-form {
    --_ui-form-width: 32rem;

    background: var(--bg-secondary);
    color: var(--text-secondary);
    position: absolute;
    inset-block-end: min(
      calc((max(var(--_ui-form-width), 100vmin) - var(--_ui-form-width)) / 2),
      var(--_ui-controls-button-size)
    );
    inset-inline-end: min(
      calc((max(var(--_ui-form-width), 100vmin) - var(--_ui-form-width)) / 2),
      var(--_ui-controls-button-size)
    );
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1.5rem;
    block-size: max-content;
    min-inline-size: var(--_ui-form-width);
    box-shadow: var(--_ui-controls-shadow);
    margin: -7.5vmin;
    opacity: 0;
    transform: scale(0.75);
    transform-origin: 50% 50%;
    animation: controls-slide-up calc(0.25 * var(--base-duration))
      cubic-bezier(0.31, 0.49, 0.38, 1.13) forwards;

    form {
      font: var(--font-md);
      block-size: 100%;
      border-radius: inherit;
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.4rem;

        &:hover {
          background: #eee;
        }

        input {
          max-inline-size: 4.8rem;

          :root:not([vertical]) & {
            margin-inline: 0.8rem;
          }

          :root[vertical] & {
            margin-block-end: 0.8rem;
          }
        }

        span {
          margin-inline: -0.4rem 0.5328rem;
        }
      }

      fieldset {
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        padding-inline: 0.6rem;
        margin-block: 0.4rem;
      }
    }

    @keyframes controls-slide-up {
      0% {
        margin: -7.5vmin;
        opacity: 0;
        transform: scale(0.75);
      }
      100% {
        margin: 0;
        opacity: 1;
        transform: scale(1);
      }
    }

    .controls-close {
      --_controls-close__font-size: 1.8rem;
      --_controls-close__font-weight: bold;

      position: absolute;
      inset-block-start: -4.8rem;
      inset-inline-end: calc(
        -1 * min((max(var(--_ui-form-width), 100vmin) - var(--_ui-form-width)) /
              2, 4.8rem)
      );
      border-radius: 50%;
      block-size: 3.2rem;
      inline-size: 3.2rem;
      border: none;
      border-radius: 50%;
      font-size: var(--_controls-close__font-size);
      font-weight: var(--_controls-close__font-weight);
      background: var(--bg-secondary);
      color: var(--text-secondary);
      box-shadow: var(--_ui-controls-shadow);
      cursor: pointer;
    }

    .controls-submit {
      border: none;
      padding-block: 1.2rem;
      padding-inline: 1.6rem;
      width: fit-content;
      align-self: flex-end;
      border-radius: 0.4rem;
      font: var(--font-sm);
      margin-block-start: 0.8rem;
      margin-inline: 0.2rem;
    }

    :root[vertical] & .controls-submit {
      margin-block: 0.8rem 0.4rem;
      margin-inline: 0.6rem 0.8rem;
    }
  }
}
