<button
  #buttonRef
  class="ui-controls accent-button"
  (click)="toggleForm($event)"
  attr.aria-label="{{ showForm ? 'Close UI settings' : 'Open UI Settings' }}"
  attr.title="{{ showForm ? 'Close UI settings' : 'Open UI Settings' }}"
>
  <svg
    class="ui-controls-icon"
    [ngClass]="{ open: showForm }"
    xmlns="http://www.w3.org/2000/svg"
    enable-background="new 0 0 512 512"
    viewBox="0 0 512 512"
  >
    <path
      d="M480.7,204.6h-24.5c-6.6,0-14.3-6-16.9-13.1c-2.3-6.6-5.1-13.1-8.2-19.5c-3.3-6.7-2.1-16.4,2.6-21.1l17.5-17.5
      c12.2-12.2,12.2-32.1,0-44.3l-28.3-28.3c-5.9-5.9-13.8-9.2-22.2-9.2c-8.4,0-16.3,3.2-22.2,9.2l-17.4,17.5c-2.8,2.8-7.5,4.5-12.5,4.5
      c-3.1,0-6.1-0.6-8.6-1.9c-6.3-3.1-12.9-5.8-19.5-8.2c-7.1-2.5-13.1-10.3-13.1-16.9V31.3C307.4,14.1,293.3,0,276,0h-40
      c-17.3,0-31.3,14.1-31.3,31.3v24.5c0,6.6-6,14.4-13.1,16.9c-6.6,2.3-13.2,5.1-19.5,8.1c-2.5,1.2-5.5,1.9-8.6,1.9
      c-5,0-9.7-1.7-12.5-4.5l-17.4-17.4c-5.9-5.9-13.8-9.2-22.2-9.2c-8.4,0-16.3,3.3-22.2,9.2L60.8,89.2c-5.9,5.9-9.2,13.8-9.2,22.2
      c0,8.4,3.3,16.2,9.2,22.1L78.3,151c4.7,4.7,5.9,14.4,2.7,21.1c-3.1,6.4-5.8,12.9-8.2,19.5c-2.5,7.1-10.3,13.1-16.9,13.1H31.4
      C14.1,204.6,0,218.7,0,236v40c0,17.3,14.1,31.3,31.3,31.3h24.5c6.6,0,14.4,6,16.9,13.1c2.3,6.6,5.1,13.1,8.2,19.5
      c3.3,6.7,2,16.4-2.7,21.1l-17.5,17.5c-12.2,12.2-12.2,32.1,0,44.3l28.4,28.4c5.9,5.9,13.8,9.2,22.2,9.2c8.4,0,16.2-3.3,22.2-9.2
      l17.5-17.5c2.8-2.8,7.5-4.5,12.5-4.5c3.1,0,6.1,0.6,8.6,1.9c6.3,3.1,12.9,5.8,19.5,8.1c7.1,2.5,13.1,10.3,13.1,16.9v24.5
      c0,17.3,14.1,31.3,31.3,31.3h40c17.3,0,31.4-14.1,31.4-31.3v-24.5c0-6.6,6-14.4,13.1-16.9c6.6-2.3,13.2-5.1,19.5-8.1
      c2.4-1.2,5.5-1.9,8.6-1.9c5,0,9.7,1.7,12.5,4.5l17.4,17.5c5.9,5.9,13.8,9.2,22.2,9.2s16.2-3.3,22.2-9.2l28.3-28.4
      c12.2-12.2,12.2-32.1,0-44.3l-17.4-17.4c-4.7-4.7-5.9-14.4-2.6-21.1c3.1-6.3,5.8-12.9,8.1-19.5c2.5-7.1,10.3-13.1,16.9-13.1h24.5
      c17.3,0,31.3-14.1,31.3-31.3V236C512,218.7,497.9,204.6,480.7,204.6z M256,347.9c-50.7,0-91.9-41.2-91.9-91.9
      c0-50.6,41.2-91.9,91.9-91.9s91.9,41.2,91.9,91.9C347.9,306.6,306.7,347.9,256,347.9z"
      fill="currentColor"
    ></path>
    <!-- 
        <a href="https://iconscout.com/icons/setting" target="_blank">Setting Icon</a>
        by 
        <a href="https://iconscout.com/contributors/yesternightsupply">Yesternight Supply</a>
        on
        <a href="https://iconscout.com">IconScout</a>
      -->
  </svg>
</button>

<ng-container *ngIf="showForm">
  <div class="ui-controls-form" (clickOutside)="closeForm($event)">
    <form>
      <fieldset>
        <legend>Select language direction:</legend>
        <label aria-label="left to right">
          <input
            type="radio"
            value="ltr"
            name="textDirection"
            [(ngModel)]="textDirection"
          />
          LTR</label
        ><label aria-label="right to left">
          <input
            type="radio"
            value="rtl"
            name="textDirection"
            [(ngModel)]="textDirection"
          />
          RTL</label
        ><label>
          <input
            type="radio"
            value="vertical"
            name="textDirection"
            [(ngModel)]="textDirection"
          />
          Vertical
        </label>
      </fieldset>
      <fieldset>
        <legend>Set UI preferences:</legend>
        <label>
          <input
            type="checkbox"
            [checked]="isDarkMode"
            (change)="onDarkModeCheckboxChange($event)"
          />
          dark mode
        </label>
        <label>
          <input type="number" min="8" max="32" [(ngModel)]="baseFontSize" />
          <span aria-label="pixels">px</span> base font size
        </label>
        <label>
          <input
            type="checkbox"
            [checked]="hasReducedMotion"
            (change)="onReducedMotionCheckboxChange($event)"
          />
          reduced motion
        </label>
      </fieldset>
      <button (click)="applyChanges()" class="controls-submit accent-button">
        <span>apply changes</span>
      </button>
      <button
        (click)="closeForm($event)"
        class="controls-close"
        aria-label="Close UI Settings"
      >
        ✕
      </button>
    </form>
  </div>
</ng-container>
