:host {
  --_ui-controls-button-size: 5rem;
  position: fixed;
  inset-block-end: 0;
  inset-inline-end: 0;
  block-size: var(--_ui-controls-button-size);
  inline-size: var(--_ui-controls-button-size);
  border-start-start-radius: 50%;

  .ui-controls {
    --_ui-controls__font-size: 8vmin;

    position: absolute;
    block-size: 100%;
    inline-size: 100%;
    border: none;
    border-radius: inherit;
    padding: 0;
    font-size: var(--_ui-controls__font-size);
    line-height: 1em;
    transform-origin: 50% 50%;

    .ui-controls-icon {
      position: absolute;
      inset-block-end: 1.125rem;
      inset-inline-end: 1.125rem;
      block-size: 2.5rem;
      inline-size: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      rotate: 0;
      transition: all calc(0.25 * var(--base-duration)) ease-out;

      &.open {
        rotate: 45deg;
      }
    }
  }

  .ui-controls-form {
    --_ui-form-width: 20rem;

    background: var(--bg-secondary);
    color: var(--text-secondary);
    position: absolute;
    inset-block-end: min(
      calc((max(var(--_ui-form-width), 100vmin) - var(--_ui-form-width)) / 2),
      var(--_ui-controls-button-size)
    );
    inset-inline-end: min(
      calc((max(var(--_ui-form-width), 100vmin) - var(--_ui-form-width)) / 2),
      var(--_ui-controls-button-size)
    );
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    padding: 0.9375rem;
    block-size: max-content;
    min-inline-size: var(--_ui-form-width);
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    margin: -7.5vmin;
    opacity: 0;
    transform: scale(0.75);
    transform-origin: 50% 50%;
    animation: controls-slide-up calc(0.25 * var(--base-duration))
      cubic-bezier(0.31, 0.49, 0.38, 1.13) forwards;

    form {
      font: var(--font-md);
      block-size: 100%;
      border-radius: inherit;
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.25rem;

        &:hover {
          background: #eee;
        }

        input {
          max-inline-size: 3rem;

          body:not([vertical]) & {
            margin-inline: 0.5rem;
          }

          body[vertical] & {
            margin-block-end: 0.5rem;
          }
        }

        span {
          margin-inline: -0.25rem 0.333rem;
        }
      }

      fieldset {
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        padding-inline: 0.375rem;
        margin-block: 0.25rem;
      }
    }

    @keyframes controls-slide-up {
      0% {
        margin: -7.5vmin;
        opacity: 0;
        transform: scale(0.75);
      }
      100% {
        margin: 0;
        opacity: 1;
        transform: scale(1);
      }
    }

    .controls-close {
      --_controls-close__font-size: 1.125rem;
      --_controls-close__font-weight: bold;

      position: absolute;
      inset-block-start: -3rem;
      inset-inline-end: calc(
        -1 * min((max(var(--_ui-form-width), 100vmin) - var(--_ui-form-width)) /
              2, 3rem)
      );
      border-radius: 50%;
      block-size: 2rem;
      inline-size: 2rem;
      border: none;
      font-size: var(--_controls-close__font-size);
      font-weight: var(--_controls-close__font-weight);
      background: none;
      color: var(--text-primary);
      text-shadow: 0 0 1.5px var(--text-secondary),
        0 0 1.5px var(--text-secondary), 0 0 1.5px var(--text-secondary),
        0 0 1.5px var(--text-secondary), 0 0 1.5px var(--text-secondary),
        0 0 1.5px var(--text-secondary), 0 0 1.5px var(--text-secondary),
        0 0 1.5px var(--text-secondary), 0 0 1.5px var(--text-secondary),
        0 0 1.5px var(--text-secondary);
      cursor: pointer;
    }

    .controls-submit {
      border: none;
      padding-block: 0.75rem;
      padding-inline: 1rem;
      width: fit-content;
      align-self: flex-end;
      border-radius: 0.25rem;
      font: var(--font-sm);
      margin-block-start: 0.5rem;
      margin-inline: 0.125rem;
    }

    body[vertical] & .controls-submit {
      margin-block: 0.5rem 0.25rem;
      margin-inline: 0.375rem 0.5rem;
    }
  }
}
