:host {
  writing-mode: horizontal-tb !important;
  position: absolute;
  inline-size: 12.1em;
  block-size: 1.55em;
  inset-block-start: -0.375em;
  inset-inline-start: -1.234375em;

  svg {
    transform-origin: 50% 50%;
    transform: translateZ(0) scaleY(1.2);
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%;
    filter: hue-rotate(75deg) saturate(2);
  }

  :root[rtl] & {
    inset-inline-start: initial;
    inset-inline-end: -1.234375em;
  }

  :root[vertical] & {
    inset-block-start: calc(-1 * min(13.75vh, 11.2rem));
    inset-inline-start: 3.2rem;
    rotate: 90deg;
    transform-origin: 0% 50%;
  }
}
