:host {
  display: grid;
  grid-gap: 1.625rem;
  grid-template-rows: auto 1.125rem;
  grid-template-columns: min(62.625rem, calc(100vi - 2rem));
  font: var(--font-6);
  color: white;

  table {
    background: transparent;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;

    &:empty {
      background-color: lime;
    }
  }

  ::ng-deep {
    thead,
    tbody,
    tfoot {
      background: inherit;
    }

    tr {
      --tr-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.11),
        0 0 0 0.0625rem var(--bg-primary-hover);
      box-shadow: var(--tr-shadow);
      display: flex;
      border-radius: 0.1875rem;
      transition: all 0.2s cubic-bezier(0.31, 0.95, 0.35, 1);
      background: var(--bg-primary);
    }

    tr + tr {
      margin-block-start: 0.0625rem;
    }

    th,
    td {
      min-block-size: 2.375rem;
      padding-block: 0.5rem;
      padding-inline: 1rem 0.75rem;
      border: none;
      inline-size: 8.5rem;
      font: var(--font-5);
      line-height: 1.25rem;
      display: flex;
      align-items: center;

      &:first-child {
        border-radius: 0.1875rem 0 0 0.1875rem;
      }

      &:last-child {
        border-radius: 0 0.1875rem 0.1875rem 0;
      }
    }

    .cell-grow {
      flex: 1;
    }

    .cell-shrink {
      flex: 0;
    }
  }

  &:not([no-hover]) ::ng-deep {
    tr {
      cursor: pointer;

      &:hover {
        background: var(--bg-primary-hover);
        color: var(--text-accent);
        transition: all 0s;
      }

      &:active {
        transform: translateY(0.0625rem);
      }
    }

    tr + tr {
      &:active {
        transform: translateY(0.0625rem);
        border-block-start: transparent;
        box-shadow: 0 -0.0625rem 0 var(--backdrop), var(--tr-shadow),
          inset 0 0.125rem 0.25rem -0.125rem var(--backdrop);
      }
    }
  }

  .table-pagination {
    display: flex;
    justify-content: center;

    ::ng-deep {
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }

      li {
        padding: 0.625rem;
        block-size: 2rem;
      }

      li:hover,
      li.active {
        color: var(--text-accent);
      }

      /* (Progressive enhancement)
        hide .table-pagination if it has only a single child (page 1).
      */
      &:has(li:only-child) {
        display: none;
      }
    }
  }
}
