.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  cursor: pointer;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #f9f9f9;
  transition: background-color 0.3s;

  &:hover:not([disabled]) {
    background-color: #eee;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
