:host {
  display: grid;
  grid-gap: 40px;
  grid-template-rows: 1fr;
  grid-template-columns: 1002px;

  .characters {
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      margin-block-end: 40px;

      input,
      button {
        block-size: 44px;
        border-radius: 6px;
        border: none;
      }

      input {
        flex-grow: 1;
        padding-block: 13px;
        padding-inline: 17px;
      }

      button {
        inline-size: 212px;
        background: #7b68ee;
        color: white;
        cursor: pointer;
      }
    }

    ui-tabular-list {
      transform: translateY(-42px);
      animation: reveal-header 0.125s ease-out forwards;
    }

    @keyframes reveal-header {
      to {
        transform: translateY(0);
      }
    }

    .characters-filter {
      opacity: 0;
      animation: characters-filter-reveal 0.375s ease-out forwards 0.125s;
    }

    @keyframes characters-filter-reveal {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
