<section class="characters">
  <header class="characters-filter">
    <input
      name="name-search"
      placeholder="Search By Name"
      aria-placeholder="Search Character By Name"
      type="text"
      autocomplete="off"
      [(ngModel)]="searchTerm"
    />

    <button (click)="getCharacters(1)" aria-label="Search">
      <span class="media-sm">🔎</span>
      <span class="media-lg">Search</span>
    </button>
  </header>

  <ui-tabular-list *ngIf="characterCall">
    <tbody *ngIf="characterCall.results">
      <tr
        *ngFor="let c of characterCall.results"
        [routerLink]="['/character', c.id]"
        [queryParams]="{ fromPage: currentPage, nameSearch: searchTerm }"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        tabindex="0"
      >
        <td class="cell-grow">{{ c.name }}</td>
        <td>{{ c.species }}</td>
        <td>{{ c.status }}</td>
        <td>{{ c.gender }}</td>
      </tr>
    </tbody>

    <ui-pagination
      *ngIf="pages"
      [currentPage]="currentPage"
      [totalPages]="characterCall.info.pages"
      (pageChange)="getCharacters($event)"
    ></ui-pagination>
  </ui-tabular-list>
</section>
