:host {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-rows: 1fr;
  grid-template-columns: 62.625rem;

  .characters {
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
      margin-block-end: 2.5rem;

      input,
      button {
        font: var(--font-5);
        block-size: 2.75rem;
        border-radius: 0.375rem;
        border: none;
      }

      input {
        flex-grow: 1;
        padding-block: 0.8125rem;
        padding-inline: 1.0625rem;
      }

      button {
        inline-size: 13.25rem;
        background: #7b68ee;
        color: white;
        cursor: pointer;
      }
    }

    ui-tabular-list {
      transform: translateY(-2.625rem);
      animation: reveal-header 0.125s ease-out forwards;
    }

    @keyframes reveal-header {
      to {
        transform: translateY(0);
      }
    }

    .characters-filter {
      opacity: 0;
      animation: characters-filter-reveal 0.375s ease-out forwards 0.125s;
    }

    @keyframes characters-filter-reveal {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  /* (Progressive enhancement)
    .characters-filter fade out effect 
  */

  .navigation-tabs:has(li:not(:first-child) a:active) ~ & .characters-filter {
    animation: characters-filter-hide 0.125s ease-out forwards !important;

    @keyframes characters-filter-hide {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
