:host .characters {
  display: grid;
  grid-gap: 40px;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 1002px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;

    input,
    button {
      height: 44px;
      border-radius: 6px;
      border: none;
    }

    input {
      flex-grow: 1;
      padding: 13px 17px;
    }

    button {
      width: 212px;
      background: #7b68ee;
      color: white;
    }
  }
}
