/* You can add global styles to this file, and also import other style files */

:root {
  --main-header-block-size: 260px;
  color-scheme: dark; /* try light */
  direction: ltr; /* try rtl */
  writing-mode: horizontal-tb; /* try vertical-rl (with direction: ltr) */
  // writing-mode: vertical-rl;

  /* 
  Note: I don't like this size (based on Figma's pixel height)
  I would suggest the relative to width height: (also from Figma units)
  header/page-width .: 260/1537 .: 16.9% ~ 17% (17vw)

  Didn't change much

  Second approach: 
  considering that the largest vertical element is the Character block.
  I would suggest a aesthetically pleasing 1/3 space for the largest element, 
  leaving the rest for header + empty space. 
  Using a very common MacBook screen size as reference.

  Create theme variations: 
  - strictly from Figma
  - with design suggestions (would include dark/light mode)
  */

  --font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-weight-bold: bold;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-size-xxlarge: 38px;
  --font-size-xlarge: 20px;
  --font-size-large: 18px;
  --font-size-base: 16px;
  --font-size-medium: 14px;
  --font-size-small: 13px;
  --font-size-xsmall: 12px;
  --font-size-xxsmall: 10px;
  --font-line-height-xlarge: 34px;
  --font-line-height-large: 20px;
  --font-line-height-base: 14px;
  --font-line-height-medium: 14px;
  --font-line-height-small: 14px;
  --font-line-height-xsmall: 10px;
  --font-1: var(--font-weight-bold) var(--font-size-xlarge) /
    var(--font-line-height-large) var(--font-family);
  --font-2: var(--font-weight-bold) var(--font-size-large) /
    var(--font-line-height-large) var(--font-family);
  --font-3: var(--font-weight-bold) var(--font-size-base) /
    var(--font-line-height-large) var(--font-family);
  --font-4: var(--font-weight-medium) var(--font-size-medium) /
    var(--font-line-height-base) var(--font-family);
  --font-5: var(--font-weight-semibold) var(--font-size-small) /
    var(--font-line-height-small) var(--font-family);
  --font-5b: var(--font-weight-medium) var(--font-size-small) /
    var(--font-line-height-medium) var(--font-family);
  --font-5c: var(--font-weight-regular) var(--font-size-small) /
    var(--font-line-height-medium) var(--font-family);
  --font-6: var(--font-weight-semibold) var(--font-size-xsmall) /
    var(--font-line-height-small) var(--font-family);
  --font-7: var(--font-weight-regular) var(--font-size-medium) /
    var(--font-line-height-base) var(--font-family);
  --font-8: var(--font-weight-regular) var(--font-size-xsmall) /
    var(--font-line-height-small) var(--font-family);
  --font-9: var(--font-weight-semibold) var(--font-size-medium) /
    var(--font-line-height-base) var(--font-family);
  --font-10: var(--font-weight-semibold) var(--font-size-xxsmall) /
    var(--font-line-height-xsmall) var(--font-family);
  --font-11: var(--font-weight-bold) var(--font-size-xxlarge) /
    var(--font-line-height-xlarge) var(--font-family);
}

html {
  hyphenate-character: "-";
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  /* for testing 
    add attribute to HTML, BODY or any other element.
  */

  & [dark-color-scheme],
  [dark-color-scheme] {
    color-scheme: dark;
  }

  & [light-color-scheme],
  [light-color-scheme] {
    color-scheme: light;
  }

  & [ltr],
  [ltr] {
    direction: ltr;
  }

  & [rtl],
  [rtl] {
    direction: rtl;
  }

  & [vertical],
  [vertical] {
    direction: ltr;
    writing-mode: vertical-rl;
  }
}

body {
  font-family: var(--font-family);
  font-style: normal;

  margin: 0;
  display: grid;
  grid-template-rows: 1fr;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  min-inline-size: 100dvmin;
  background: #1e272e;

  &,
  * {
    position: relative;
    box-sizing: border-box;
  }

  &::before {
    content: "";
    position: absolute;
    inline-size: 100%;
    block-size: calc(var(--main-header-block-size) * 2);
    top: calc(-1 * var(--main-header-block-size));
    background-color: #fff;
  }
}

/* (Progressive enhancement)
  .characters-filter fade out effect 
*/

.navigation-tabs:has(li:not(:first-child) a:active)
  ~ characters
  .characters-filter {
  animation: characters-filter-hide 0.125s ease-out forwards !important;

  @keyframes characters-filter-hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
