/* You can add global styles to this file, and also import other style files */

:root {
  color-scheme: dark; /* try light */
  direction: ltr; /* try rtl */
  writing-mode: horizontal-tb; /* try vertical-rl (with direction: ltr) */

  /* Global vars */

  --main-header-block-size: 16.25rem;

  --app-reveal-delay: 0.0625s;
  --app-reveal-duration: 0.125s;
  // pre-calculated for performance: delay + duration + post-reveal-delay
  --wait-for-app-reveal: 0.4375s;

  /* Fonts: with normalized font heights */

  --font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-xxl: bold min(4rem, 10vi) / 3.75rem var(--font-family);
  --font-xl: normal clamp(1.5rem, 2.25rem, 5.625vi) / 2rem var(--font-family);
  --font-lg: normal clamp(1.25rem, 2rem, 5vi) / 1.875rem var(--font-family);
  --font-md: normal 1.125rem / 1rem var(--font-family);
  --font-base: normal 1rem / 0.875rem var(--font-family);
  --font-sm: normal 0.875rem / 0.75rem var(--font-family);

  /* Colors */

  --bg-accent: #7b68ee;
  --bg-accent-variant: #6c58de;
  --text-accent: #7b68ee;
  --text-accent-variant: #6c58de;
  --text-accent-complement: #fff;
  --bg-hero: #f2f4f7;

  --backdrop: #1e272e;
  --bg-primary: #2b343b;
  --bg-primary-variant: #384047;
  --bg-secondary: #fff;
  --bg-secondary-variant: #d0d1d2;
  --text-primary: #fff;
  --text-primary-variant: #abaeb0;
  --text-secondary: #292d34;
  --text-placeholder: #7c828d;

  @media (prefers-color-scheme: light) {
    --backdrop: #e6e9ed;
    --bg-primary: #f2f4f7;
    --bg-primary-variant: #e0e3e8;
    --text-primary: #1e272e;
    --text-primary-variant: #7c828d;
  }

  /* Animations: base multiplier */
  --base-duration: 1s;

  @media (prefers-reduced-motion: reduce) {
    --base-duration: 0s;
  }
}

html {
  hyphenate-character: "-";
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  /* for testing 
    add attribute to BODY
  */

  body[dark-mode] {
    color-scheme: dark;
  }

  body[light-mode] {
    color-scheme: light;
  }

  body[ltr] {
    direction: ltr;
  }

  body[rtl] {
    direction: rtl;
  }

  body[vertical] {
    direction: ltr;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-orientation: use-glyph-orientation;

    button,
    input {
      direction: ltr !important;
      writing-mode: vertical-rl !important;
    }

    button span {
      direction: ltr !important;
      writing-mode: vertical-rl !important;
      margin: auto;
    }
  }

  body[dark-mode] {
    --backdrop: #1e272e;
    --bg-primary: #2b343b;
    --bg-primary-variant: #384047;
    --bg-secondary-variant: #d0d1d2;
    --text-primary: #fff;
    --text-primary-variant: #abaeb0;
  }

  body[light-mode] {
    --backdrop: #e6e9ed;
    --bg-primary: #f2f4f7;
    --bg-primary-variant: #e0e3e8;
    --bg-secondary-variant: #d8d7d7;
    --text-primary: #1e272e;
    --text-primary-variant: #8b8a8e;
  }

  body[reduced-motion] {
    --base-duration: 0s;
  }
}

body {
  font: var(--font-base);
  margin: 0;
  display: grid;
  grid-template-rows: 1fr;
  min-block-size: 100vh;
  min-block-size: 100dvb;
  min-inline-size: 100dvmin;

  /* match layout colors */

  background: var(--backdrop)
    linear-gradient(
      to bottom,
      var(--bg-secondary) var(--main-header-block-size),
      var(--backdrop) var(--main-header-block-size)
    );

  &[vertical] {
    --main-header-block-size: 12.0625rem;
    background: var(--backdrop)
      linear-gradient(
        to left,
        var(--bg-secondary) var(--main-header-block-size),
        var(--backdrop) var(--main-header-block-size)
      );
  }

  @-moz-document url-prefix() {
    background: var(--backdrop);
  }

  &,
  * {
    position: relative;
    box-sizing: border-box;
  }

  *:focus-visible,
  [aria-label]:focus-visible {
    outline: 0.125rem solid var(--text-accent);
    outline-offset: 0.125rem;
  }

  *:focus:not(:focus-visible) {
    outline: none !important;
  }

  input[type="text"],
  input[type="number"] {
    & {
      background-color: var(--bg-secondary);
      color: var(--text-secondary);

      &::placeholder {
        color: var(--text-placeholder);
      }
    }
  }
}

/* helper classes */

@media (min-width: 30.0001rem) {
  .media-sm {
    display: none !important;
  }

  .media-lg {
    display: block !important;
  }
}

@media (max-width: 30rem) {
  .media-sm {
    display: block !important;
  }

  .media-lg {
    display: none !important;
  }
}

@media (min-height: 30.0001rem) {
  body[vertical] {
    .media-sm {
      display: none !important;
    }

    .media-lg {
      display: block !important;
    }
  }
}

@media (max-height: 30rem) {
  body[vertical] {
    .media-sm {
      display: block !important;
    }

    .media-lg {
      display: none !important;
    }
  }
}

/* shared styles */

button {
  cursor: pointer;
}

button.accent-button {
  background-color: var(--bg-accent);
  color: var(--text-accent-complement);
  transition: all calc(0.125 * var(--base-duration)) ease-out;

  span {
    display: inline-block;
  }

  & > * {
    transform-origin: center;
    transition: inherit;
  }

  &:hover {
    background-color: var(--bg-accent-variant);
  }

  &:hover:active > * {
    transform: scale(0.975) translateZ(0);
  }

  &:focus-visible {
    outline: 0.125rem solid var(--text-accent);
    outline-offset: 0.125rem;
  }
}
